RewriteEngine On

# Deny access to files like .env and Composer in a way that does not reveal
# their existence (pass off to ClassicPress for 404 generation)
RewriteCond %{REQUEST_FILENAME} /\.env(\.example)?$ [OR]
RewriteCond %{REQUEST_URI} ^/composer\. [OR]
RewriteCond %{REQUEST_URI} ^/vendor(/|\?|$) [OR]
RewriteCond %{REQUEST_URI} ^/\.git [OR]
RewriteCond %{REQUEST_URI} ^/README.md
RewriteRule . /index.php [L]

# Deny access to .php files inside the wp-content dir
# Mostly exploit/probe attempts
# https://stackoverflow.com/a/47139015
RewriteCond %{REQUEST_URI} ^(.*/)?wp-content/.*\.php$
RewriteRule . /index.php [L]

# Avoid revealing information about core/plugin/theme directories
# https://github.com/ClassicPress/ClassicPress-Network/issues/6
RewriteCond %{REQUEST_URI} ^(.*/)?(wp-(content|includes)(/|$)|wp-admin/[^/]+(/|$))
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule . /index.php [L]

# BEGIN ClassicPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END ClassicPress

# BEGIN 301 Redirects
# END 301 Redirects

# BEGIN 302 Redirects
# END 302 Redirects
